<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='/css/style.css')}}"
  />
</head>
<body id="account-bg" >
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/select">Character Creation</a>
                <a class="nav-link" href="/logout">Logout</a>
            </div>
            </div>
        </div>
    </nav>

    <!-- Account Update -->
    <div class="d-flex justify-content-center" style="gap: 50px; padding-top: 100px;">
        <div>
            <!-- Form -->
            <div class="account-border">
                <h3 class="text-center p-10">Account Profile</h3>
                <form action="/account/update" method="post" class="d-flex p-2 justify-content-evenly gap-5">
                <div>
                    <label for="first_name">First Name:</label> <br><br>
                    <label for="last_name">Last Name:</label> <br><br>
                    <label for="email">Email:</label>
                </div>
                <div id="form">
                    <input id="first_name" value="{{logged_user.first_name}}" name="first_name"><br><br>
                    <input id="last_name" value="{{logged_user.last_name}}" name="last_name"><br><br>
                    <input id="email" value="{{logged_user.email}}" name="email"><br><br>
                    <input id="submit" type="submit" value="Update">
                    <input type="hidden" value="{{session.user_id}}" name="id">
                </div>
                </form>
            </div>
        </div>
        <div>
            <div class="account-border">
            <h3 class="text-center p-10">Avatars</h3>
            
            <div class="d-flex justify-content-evenly p-2">
                <table class="table" style="width: 300px">
                    
                    <tr>
                        <th>Name</th>
                        <th>Class</th>
                        <th></th>
                    </tr>
                    {% for one_avatar in all_avatars %}
                        {% if session.user_id==one_avatar.user.id: %}
                    <tr>
                        <td><a href="/dashboard">{{one_avatar.name}}</a></td>
                        <td>{{one_avatar.type}}</td>
                        <form action="/avatar/{{one_avatar.id}}/delete" method="post">
                        <input type="hidden" value={{one_avatar.id}} name="id">
                        <td style="color: red">
                            <input type="submit" value="delete">
                        </td>
                        </form>
                    </tr> 
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            
        </div>
    
    </div>
</body>
</html>